{% extends "layouts/base.html.twig" %}

{% block title %}Projet Sareeslight{% endblock %}
{% block body %}
<section id="sareeslight">
    <div class="row1-sareeslight">
        <div class="first-plan-sareeslight">
            <img src="{{ asset('upload/sareelight/svg/sareeslight1.svg') }}" alt="photo bureau I">
        </div>
        <div class="second-plan-sareeslight">
            <img src="{{ asset('upload/sareelight/svg/sareeslight2.svg') }}" alt="photo bureau I" class="">
        </div>
        <div class="text-container-sareeslight">
        <h2>SAREE LIGHT</h2>
            <p> ipisicing sit amet consectetur adipisicingamet consectetur adipisicing Lorem ipsum sit amet consectetur adipisicing elit.. adipisicing dolor sit  sit amet consectetur adipisicing sit amet consectetur Lorem ipsum sit amet consectetur adipisicing adipisicing sit amet consectetur adipisicing sit amet consectetur adipisicing sit amet consectetur Lorem ipsum sit amet consectetur adipisicing adipisicing sit amet consectetur adipisicing sit amet consectetur adipisicingamet consectetur adipisicing Lorem ipsum sit amet consectetur adipisicing elit...</p>
        </div>
    </div>

    <div class="row2-sareeslight">
        <div class="third-plan-sareeslight">
            <img src="{{ asset('upload/sareelight/svg/sareeslight3.svg') }}" alt="photo bureau I">
        </div>
        <div class="fourth-plan-sareeslight">
            <img src="{{ asset('upload/sareelight/svg/sareeslight4.svg') }}" alt="photo bureau I">
        </div>
    </div>

    

    <div class="row3-sareeslight">
            <img src="{{ asset('upload/sareelight/svg/couleur-1.svg') }}" alt="">
            <img src="{{ asset('upload/sareelight/svg/couleur-2.svg') }}" alt="">
            <img src="{{ asset('upload/sareelight/svg/couleur-3.svg') }}" alt="">
    </div>

    

    <div class="row4-sareeslight">
            <img src="{{ asset('upload/sareelight/svg/couleur-4.svg') }}" alt="">
            <img src="{{ asset('upload/sareelight/svg/couleur-5.svg') }}" alt="">
            <img src="{{ asset('upload/sareelight/svg/couleur-6.svg') }}" alt="">
    </div>

    


    <div class="row5-sareeslight">
        <img src="{{ asset('upload/sareelight/sareeslight.jpg') }}" alt="">
    </div>

<!-- Modal principal -->
    <div id="sareelight-modal" class="sareelight-modal">
        <span class="sareelight-close">&times;</span>
        <img class="sareelight-modal-content" id="sareelight-modal-image" src="">
        <a class="sareelight-prev">&#10094;</a>
        <a class="sareelight-next">&#10095;</a>
    </div>

    <!-- Modal para row3 -->
    <div id="row3-sareeslight-modal" class="sareelight-modal">
        <span class="row3-sareelight-close">&times;</span>
        <img class="row3-sareelight-modal-content" id="row3-sareelight-modal-image" src="">
        <a class="row3-sareelight-prev">&#10094;</a>
        <a class="row3-sareelight-next">&#10095;</a>
    </div>

    <!-- Modal para row4 -->
    <div id="row4-sareeslight-modal" class="sareelight-modal">
        <span class="row4-sareelight-close">&times;</span>
        <img class="row4-sareelight-modal-content" id="row4-sareelight-modal-image" src="">
        <a class="row4-sareelight-prev">&#10094;</a>
        <a class="row4-sareelight-next">&#10095;</a>
    </div>

    <!-- Modal para row5 -->
    <div id="row5-sareeslight-modal" class="sareelight-modal">
        <span class="row5-sareelight-close">&times;</span>
        <img class="row5-sareelight-modal-content" id="row5-sareelight-modal-image" src="">
    </div> 

</section>


{% endblock %}
