{% extends "layouts/base.html.twig" %}

{% block title %}Page Architecture{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ importmap('architecture') }}
{% endblock %}

{% block body %}
<div class="card-container">
    <!-- Tarjeta TUDEILS -->
    <div class="card card-tudeils">
        <a href="{{ path('project_tudeils') }}">
            <img src="{{ asset('upload/architecture/tudeils.png') }}" alt="Tudeils">
            <h3 class="card-title">TUDEILS</h3>
        </a>
    </div>

    <!-- Tarjeta CHUELLES -->
    <div class="card card-chuelles">
        <a href="{{ path('project_chuelles') }}">
            <img src="{{ asset('upload/architecture/chuelles.png') }}" alt="Chuelles">
            <h3 class="card-title">CHUELLES</h3>
        </a>
    </div>

    <!-- Tarjeta LYON -->
    <div class="card card-lyon">
        <a href="{{ path('project_lyon') }}">
            <img src="{{ asset('upload/architecture/lyon.png') }}" alt="Lyon">
            <h3 class="card-title">LYON</h3>
        </a>
    </div>

    <!-- Tarjeta GENTILLY -->
    <div class="card card-gentilly">
        <a href="{{ path('project_gentilly') }}">
            <img src="{{ asset('upload/architecture/gentilly.png') }}" alt="Gentilly">
            <h3 class="card-title">GENTILLY</h3>
        </a>
    </div>

    <!-- Tarjeta BOURSAULT -->
    <div class="card card-boursault">
        <a href="{{ path('project_boursault') }}">
            <img src="{{ asset('upload/architecture/boursault.png') }}" alt="Boursault">
            <h3 class="card-title">BOURSAULT</h3>
        </a>
    </div>

    <!-- Tarjeta SCEAUX -->
    <div class="card card-sceaux">
        <a href="{{ path('project_sceaux') }}">
            <img src="{{ asset('upload/architecture/sceaux.png') }}" alt="Sceaux">
            <h3 class="card-title">SCEAUX</h3>
        </a>
    </div>
</div>


{% endblock %}
