{% extends "layouts/base_design.html.twig" %}

{% block title %}Projet I{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('styles/pages/design/projects/bureauI.scss')}}">
{% endblock %}

{% block imgmobile %}
    <div class="img-mobile">
        <img src="{{ asset('upload/design/bureauafppcdI/bureauIphoto1.jpg')|imagine_filter('images_design_picture') }}" alt="photo-bureauI">
    </div>
{% endblock %}


{% block plans %}
    <img src="{{ asset('upload/design/bureauafppcdI/svg/bureauI1-optimized.svg')}}" alt="photo bureau I">
    <img src="{{ asset('upload/design/bureauafppcdI/svg/bureauI2-optimized.svg')}}" alt="photo bureau I">
    <img src="{{ asset('upload/design/bureauafppcdI/svg/bureauI3-optimized.svg') }}" alt="photo bureau I">
    <img src="{{ asset('upload/design/bureauafppcdI/texturebureauI.png')|imagine_filter('images_design_texture') }}" alt="photo bureau I">
{% endblock %}

{% block project_title %}BUREAU I{% endblock %}
{% block project_description %}
    Cette rénovation complète, conçue sur mesure, confère une identité forte à l’espace en mariant deux matériaux phares : le contreplaqué de bouleau, choisi pour sa clarté et sa capacité à illuminer la pièce, et la tôle métallique perforée, qui apporte une note moderne et graphique. Un vaste espace de rangement de 50 cm de profondeur s’étend sur toute la longueur et la hauteur de la pièce. Ses portes coulissantes, réalisées en tôle perforée, offrent non seulement un impact visuel singulier, mais permettent aussi de masquer dossiers et objets. À l’arrière du bureau, un décroché en hauteur a été conçu pour y dissimuler l’imprimante, optimisant ainsi la gestion de l’espace et préservant l’esthétique générale. Le bureau, quant à lui, présente une forme arrondie au niveau de l’assise, garantissant un meilleur confort et une ergonomie adaptée aux longues heures de travail. Cette pièce centrale conjugue harmonieusement fonctionnalité et esthétisme, créant un environnement de travail à la fois agréable et inspirant. Pour parachever ce projet, un chemin de câbles apparent vient souligner la personnalité du lieu, tout en offrant la possibilité d’y installer des suspensions aux couleurs pastel. Enfin, la moquette bleu marine apporte une touche feutrée et élégante, complétant ainsi un aménagement pensé dans les moindres détails pour allier confort, organisation et cohérence visuelle.
{% endblock %}

{% block pictures %}
    <img src="{{ asset('upload/design/bureauafppcdI/bureauIphoto1.jpg')|imagine_filter('images_design_picture') }}" alt="photo-bureauI">
    <img src="{{ asset('upload/design/bureauafppcdI/bureauIphoto2.jpg')|imagine_filter('images_design_picture') }}" alt="photo-bureauI">
    <img src="{{ asset('upload/design/bureauafppcdI/bureauIphoto3.jpg')|imagine_filter('images_design_picture') }}" alt="photo-bureauI">
    <img src="{{ asset('upload/design/bureauafppcdI/bureauIphoto4.jpg')|imagine_filter('images_design_picture') }}" alt="photo-bureauI">
{% endblock %}