{% extends "layouts/base_design.html.twig" %}

{% block title %}Projet II{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('styles/pages/design/projects/bureauII.scss') }}">
{% endblock %}

{% block imgmobile %}
    <div class="img-mobile">
        <img src="{{ asset('upload/design/bureauafppcd/bureauII3.jpg')|imagine_filter('images_design_picture') }}" alt="photo-bureauII">
    </div>
{% endblock %}

{% block plans %}
    <img src="{{ asset('upload/design/bureauafppcd/svg/bureauafppcd1-optimized.svg')}}" class="plan-image" alt="photo bureau II">
    <img src="{{ asset('upload/design/bureauafppcd/svg/bureauafppcd2-optimized.svg')}}" class="plan-image bigone" alt="photo bureau II">
    <img src="{{ asset('upload/design/bureauafppcd/svg/bureauafppcd3-optimized.svg')}}" class="plan-image" alt="photo bureau I">
    <img src="{{ asset('upload/design/bureauafppcd/testbureau.png')|imagine_filter('images_design_texture') }}" class="img-texture-design" alt="photo bureau II">
{% endblock %}


{% block project_title %}BUREAU II{% endblock %}
{% block project_description %}
    Cette rénovation complète d’un bureau sur mesure met à l’honneur deux matériaux phares : le bois de noyer et le cannage en rotin encadré par une structure noire pour un style à la fois élégant et singulier. L’agencement se compose d’un vaste espace de rangement / étagère ainsi que de deux bureaux indépendants, tous conçus avec la même identité visuelle afin de créer une cohérence esthétique forte. Le mobilier-étagère court sur toute la longueur et la hauteur de la pièce. Ses panneaux coulissants en cannage de rotin rythment l’ensemble et permettent, selon l’envie ou la nécessité, de masquer ou de mettre en valeur certains éléments. Cette combinaison harmonieuse entre bois noble et cannage naturel confère au lieu une atmosphère chaleureuse et raffinée. Les bureaux, réalisés en bois de noyer, intègrent également des parties de rangement rehaussées de cannage en rotin, faisant écho à la bibliothèque. Ce dialogue constant entre matériaux crée une unité visuelle qui renforce l’identité du projet et l’ergonomie de l’espace de travail. Pour insuffler une note de dynamisme, des chaises de bureau de couleur orange ont été sélectionnées. Cette teinte vive apporte un contraste subtil et énergise la pièce, tandis que le sol clair magnifie la lumière ambiante. L’ensemble offre ainsi un cadre de travail à la fois confortable, fonctionnel et élégant.
{% endblock %}

{% block pictures %}
    <img src="{{ asset('upload/design/bureauafppcd/bureauII3.jpg')|imagine_filter('images_design_picture') }}" alt="photo-bureauII">
    <img src="{{ asset('upload/design/bureauafppcd/bureauII4.jpg')|imagine_filter('images_design_picture') }}" alt="photo-bureauII">
    <img src="{{ asset('upload/design/bureauafppcd/bureauII5.jpg')|imagine_filter('images_design_picture') }}" alt="photo-bureauII">
    <img src="{{ asset('upload/design/bureauafppcd/bureauII1.jpg')|imagine_filter('images_design_picture') }}" alt="photo-bureauII">
    <img src="{{ asset('upload/design/bureauafppcd/bureauII2.jpg')|imagine_filter('images_design_picture') }}" alt="photo-bureauII">
{% endblock %}