{% extends "layouts/base_design.html.twig" %}

{% block title %}Projet Sareeslight{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('styles/pages/design/projects/sareeslight.scss') }}">
{% endblock %}

{% block plans %}
    <div class="mesures-sareelight">
        <img src="{{ asset('upload/design/sareelight/svg/sareeslight1-optimized.svg') }}" alt="photo bureau I">
        <img src="{{ asset('upload/design/sareelight/svg/sareeslight2-optimized.svg') }}" alt="photo bureau I">
        <img src="{{ asset('upload/design/sareelight/svg/sareeslight3-optimized.svg') }}" alt="photo bureau I">
        <img src="{{ asset('upload/design/sareelight/svg/sareeslight4-optimized.svg') }}" alt="photo bureau I">
    </div>
    <div class="isometric-sareelight">
        <img src="{{ asset('upload/design/sareelight/svg/couleur-1-optimized.svg') }}" alt="">
        <img src="{{ asset('upload/design/sareelight/svg/couleur-2-optimized.svg') }}" alt="">
        <img src="{{ asset('upload/design/sareelight/svg/couleur-3-optimized.svg') }}" alt="">
        <img src="{{ asset('upload/design/sareelight/svg/couleur-4-optimized.svg') }}" alt="">
        <img src="{{ asset('upload/design/sareelight/svg/couleur-5-optimized.svg') }}" alt="">
        <img src="{{ asset('upload/design/sareelight/svg/couleur-6-optimized.svg') }}" alt="">
    </div>
{% endblock %}

{% block project_title %}SAREE LIGHT{% endblock %}
{% block project_description %}
    ipisicing sit amet consectetur adipisicingamet consectetur adipisicing Lorem ipsum sit amet consectetur adipisicing elit.. adipisicing dolor sit  sit amet consectetur adipisicing sit amet consectetur Lorem ipsum sit amet consectetur adipisicing adipisicing sit amet consectetur adipisicing sit amet consectetur adipisicing sit amet consectetur Lorem ipsum sit amet consectetur adipisicing adipisicing sit amet consectetur adipisicing sit amet consectetur adipisicingamet consectetur adipisicing Lorem ipsum sit amet consectetur adipisicing elit...
{% endblock %}

{% block pictures %}
    <div class="pictures" data-modal="pictures">
        <img src="{{ asset('upload/design/sareelight/sareeslight.jpg')|imagine_filter('images_design_picture') }}" alt="" width="300">
    </div>
{% endblock %}
