{% extends "layouts/base_design.html.twig" %}

{% block title %}Projet Sareeslight{% endblock %}

{% block plans %}
    <img src="{{ asset('upload/sareelight/svg/sareeslight1.svg') }}" alt="photo bureau I">
    <img src="{{ asset('upload/sareelight/svg/sareeslight2.svg') }}" alt="photo bureau I">
    <img src="{{ asset('upload/sareelight/svg/sareeslight3.svg') }}" alt="photo bureau I">
    <img src="{{ asset('upload/sareelight/svg/sareeslight4.svg') }}" alt="photo bureau I">
{% endblock %}

{% block project_title %}SAREE LIGHT{% endblock %}
{% block project_description %}
    ipisicing sit amet consectetur adipisicingamet consectetur adipisicing Lorem ipsum sit amet consectetur adipisicing elit.. adipisicing dolor sit  sit amet consectetur adipisicing sit amet consectetur Lorem ipsum sit amet consectetur adipisicing adipisicing sit amet consectetur adipisicing sit amet consectetur adipisicing sit amet consectetur Lorem ipsum sit amet consectetur adipisicing adipisicing sit amet consectetur adipisicing sit amet consectetur adipisicingamet consectetur adipisicing Lorem ipsum sit amet consectetur adipisicing elit...
{% endblock %}

{% block pictures %}
    <img src="{{ asset('upload/sareelight/svg/couleur-1.svg') }}" alt="">
    <img src="{{ asset('upload/sareelight/svg/couleur-2.svg') }}" alt="">
    <img src="{{ asset('upload/sareelight/svg/couleur-3.svg') }}" alt="">
    <img src="{{ asset('upload/sareelight/svg/couleur-4.svg') }}" alt="">
    <img src="{{ asset('upload/sareelight/svg/couleur-5.svg') }}" alt="">
    <img src="{{ asset('upload/sareelight/svg/couleur-6.svg') }}" alt="">
{% endblock %}

{% block more %}
    <div class="pictures" data-modal="pictures">
        <img src="{{ asset('upload/sareelight/sareeslight.jpg')|imagine_filter('images_design_picture') }}" alt="" width="300">
    </div>
{% endblock %}