<header class="header">
    
    
    <div class="logo-header">
        <a href="{{ path('home') }}">
            <img src="{{ asset('img/logo1.png')|imagine_filter('image_logo') }}" alt="Logo site Juliette">
        </a>
    </div>

    

    <nav id="navbar">
        <div id="icons">
            <i class="fa-solid fa-bars"></i>
        </div>
        <ul class="menu">
            <li>
                <a href="{{ path('architecture') }}" class="nav-item">Architecture</a>
            </li>
            <li>
                <a href="{{ path('design') }}" class="nav-item">Design</a>
            </li>
            <li>
                <a href="{{ path('illustration') }}" class="nav-item">Illustration</a>
            </li>
            <li>
                <a href="{{ path('contact') }}" class="nav-item">Contact</a>
            </li>
        </ul>
    </nav>
</header>
