<header class="header">
    <nav id="navbar">

        <div class="logo-header">
            <a href="{{ path('home') }}">
                <img src="{{ asset('img/logo.png') }}" alt="Logo site Juliette">
            </a>
        </div>
        
        <ul>
            <li><a href="{{  path('architecture') }}">Architecture</a></li>
            <li><a href="{{ path('design') }}">Design</a></li>
            <li><a href="{{ path('illustration') }}">Illustration</a></li>
            <li class="link-contact"><a href="#">Contact</a></li>
        </ul>
        
    </nav>
</header>