{% extends "layouts/base.html.twig" %}

{% block title %}Projet Sceaux{% endblock %}

{% block body %}
<section id="sceaux">
    <div class="plans">
        <img src="{{ asset('upload/sceaux/svg/plansceaux1.svg') }}" alt="plan-proyect1" data-large-src="{{ asset('upload/sceaux/svg/plansceaux1.svg') }}">
        <img src="{{ asset('upload/sceaux/svg/plansceaux2.svg') }}" alt="plan-proyect2" data-large-src="{{ asset('upload/sceaux/svg/plansceaux2.svg') }}">
    </div>

    <!-- Modal para la galería de planos de Sceaux -->
    <div id="plans-modal-sceaux" class="plans-modal">
        <span class="close">&times;</span>
        <img class="plans-content" id="plans-image-sceaux" src="">
        <a class="prev">&#10094;</a>
        <a class="next">&#10095;</a>
    </div>

    <div class="text-container">
        <h1>SCEAUX</h1>
        <p><span class="label">Programme :</span> Rénovation d’un appartement</p>
        <p><span class="label">Localisation :</span> Sceaux</p>
        <p><span class="label">Surface :</span> 60 m²</p>
        <p><span class="label">Budget :</span> NC</p>
        <p><span class="label">Statut :</span> Livré en janvier 2023</p>
        <P> Lorem ipsum dolor sit amet, magna aliquam erat volutpat. Ut volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation magna aliquam erat volutpat. Ut volutpat. magna aliquam erat volutpat. Ut volutpat. magna aliquam erat volutpat. Ut volutpat.magna aliquam erat volutpat. Ut volutpat. magna aliquam erat volutpat. Ut volutpat. ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat magna aliquam erat volutpat. Ut volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conseqa.</P>
    </div>
</section>

<section id="photos_sceaux">
        <p>C'est...</p>
        <!-- Galería de fotos -->
        <div class="photos">
            <img src="{{ asset('upload/sceaux/sceaux1.jpg') | imagine_filter('images_proyect_boursault')  }}" alt="sceaux-2">
            <img src="{{ asset('upload/sceaux/sceaux2.jpg') | imagine_filter('images_proyect_boursault')  }}" alt="sceaux-5">
            <img src="{{ asset('upload/sceaux/sceaux3.jpg') | imagine_filter('images_proyect_boursault')  }}" alt="sceaux-3">
            <img src="{{ asset('upload/sceaux/sceaux4.jpg') | imagine_filter('images_proyect_boursault')  }}" alt="sceaux-1">
            <img src="{{ asset('upload/sceaux/sceaux5.jpg') | imagine_filter('images_proyect_boursault')  }}" alt="sceaux-6">        
            <img src="{{ asset('upload/sceaux/sceaux6.jpg') | imagine_filter('images_proyect_boursault')  }}" alt="sceaux-4"> 
        </div>

        <!-- Modal para la galería de fotos -->
        <div id="photos-modal" class="photos-modal">
            <span class="close">&times;</span>
            <img class="photos-content" id="photos-image" src="">
            <a class="prev">&#10094;</a>
            <a class="next">&#10095;</a>
        </div>
        <p>C'était…</p>
        <div class="bwpictures">
            <img src="{{ asset('upload/sceaux/bw1.jpg') }}" alt="sceaux-2">
            <img src="{{ asset('upload/sceaux/bw2.jpg') }}" alt="sceaux-5">
            <img src="{{ asset('upload/sceaux/bw3.jpg') }}" alt="sceaux-3"> 
        </div>
        <!-- Modal para la galería de bwpictures -->
        <div id="bwpictures-modal" class="bwpictures-modal">
            <span class="close">&times;</span>
            <img class="bwpictures-content" id="bwpictures-image" src="">
            <a class="prev">&#10094;</a>
            <a class="next">&#10095;</a>
        </div>
    </section>

{% endblock %}

