<div class="wrapper">
    <div class="gallery-container">
        <button class="arrow left-arrow">&#10094;</button>
        <div class="gallery" id="gallery" data-modal="pictures">
            <img src="{{ asset('upload/home/img1-gallery.jpg')|imagine_filter('images_galery') }}" alt="proyecto1">
            <img src="{{ asset('upload/home/img2-gallery.jpg')|imagine_filter('images_galery') }}" alt="proyecto2">
            <img src="{{ asset('upload/home/img3-gallery.jpg')|imagine_filter('images_galery') }}" alt="proyecto3">
            <img src="{{ asset('upload/home/img4-gallery.jpg')|imagine_filter('images_galery') }}" alt="proyecto4">
            <img src="{{ asset('upload/home/img5-gallery.jpg')|imagine_filter('images_galery') }}" alt="proyecto5">
            <img src="{{ asset('upload/home/img6-gallery.jpg')|imagine_filter('images_galery') }}" alt="proyecto6">
            <img src="{{ asset('upload/home/img7-gallery.jpg')|imagine_filter('images_galery') }}" alt="proyecto7">
            <img src="{{ asset('upload/home/img8-gallery.jpg')|imagine_filter('images_galery') }}" alt="proyecto8">
            <img src="{{ asset('upload/home/img9-gallery.jpg')|imagine_filter('images_galery') }}" alt="proyecto9">
            <img src="{{ asset('upload/home/img10-gallery.jpg')|imagine_filter('images_galery') }}" alt="proyecto10">
            <img src="{{ asset('upload/home/img11-gallery.jpg')|imagine_filter('images_galery') }}" alt="proyecto11">
            <img src="{{ asset('upload/home/img12-gallery.jpg')|imagine_filter('images_galery') }}" alt="proyecto12">
            <img src="{{ asset('upload/design/bureauafppcdI/bureauIphoto1.jpg')|imagine_filter('images_galery') }}" alt="proyecto13">
            <img src="{{ asset('upload/design/bureauafppcdI/bureauIphoto2.jpg')|imagine_filter('images_galery') }}" alt="proyecto14">
            <img src="{{ asset('upload/design/bureauafppcd/bureauII1.jpg')|imagine_filter('images_galery') }}" alt="proyecto15">
            <img src="{{ asset('upload/design/bureauafppcd/bureauII3.jpg')|imagine_filter('images_galery') }}" alt="proyecto16">
            <img src="{{ asset('upload/architecture/gentilly/gentilly1.jpg')|imagine_filter('images_galery') }}" alt="proyecto17">
            <img src="{{ asset('upload/architecture/gentilly/gentilly3.jpg')|imagine_filter('images_galery') }}" alt="proyecto18">
        </div>
        <button class="arrow right-arrow">&#10095;</button>
    </div>
</div>

