{% extends "layouts/base.html.twig" %}

{% block title %}Page Illustration{% endblock %}

{% block javascripts %}
    {{ parent() }} {# On inclut les fichiers JS de la page parente #}
    {{ importmap('illustration') }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="gallery_zoziox">
            <a href="#" data-large-src="{{ asset('upload/zoziox/zozioxcadre1.jpg') }}">
                <img src="{{ asset('upload/zoziox/zoziox1.jpg') }}" alt="zoziox1" id="zoziox1">
            </a>
            <a href="#" data-large-src="{{ asset('upload/zoziox/zozioxcadre2.jpg') }}">
                <img src="{{ asset('upload/zoziox/zoziox2.jpg') }}" alt="zoziox2" id="zoziox2">
            </a>
            <a href="#" data-large-src="{{ asset('upload/zoziox/zozioxcadre3.jpg') }}">
                <img src="{{ asset('upload/zoziox/zoziox3.jpg') }}" alt="zoziox3" id="zoziox3">
            </a>
            <a href="#" data-large-src="{{ asset('upload/zoziox/zozioxcadre4.jpg') }}">
                <img src="{{ asset('upload/zoziox/zoziox4.jpg') }}" alt="zoziox4" id="zoziox4">
            </a>
            <a href="#" data-large-src="{{ asset('upload/zoziox/zozioxcadre5.jpg') }}">
                <img src="{{ asset('upload/zoziox/zoziox5.jpg') }}" alt="zoziox5" id="zoziox5">
            </a>
            <a href="#" data-large-src="{{ asset('upload/zoziox/zozioxcadre6.jpg') }}">
                <img src="{{ asset('upload/zoziox/zoziox6.jpg') }}" alt="zoziox6" id="zoziox6">
            </a>
            <a href="#" data-large-src="{{ asset('upload/zoziox/zozioxcadre7.jpg') }}">
                <img src="{{ asset('upload/zoziox/zoziox7.jpg') }}" alt="zoziox7" id="zoziox7">
            </a>
            <a href="#" data-large-src="{{ asset('upload/zoziox/zozioxcadre8.jpg') }}">
                <img src="{{ asset('upload/zoziox/zoziox8.jpg') }}" alt="zoziox8" id="zoziox8">
            </a>
            <a href="#" data-large-src="{{ asset('upload/zoziox/zozioxcadre9.jpg') }}">
                <img src="{{ asset('upload/zoziox/zoziox9.jpg') }}" alt="zoziox9" id="zoziox9">
            </a>
            <a href="#" data-large-src="{{ asset('upload/zoziox/zozioxcadre10.jpg') }}">
                <img src="{{ asset('upload/zoziox/zoziox10.jpg') }}" alt="zoziox10" id="zoziox10">
            </a>
            <a href="#" data-large-src="{{ asset('upload/zoziox/zozioxcadre11.jpg') }}">
                <img src="{{ asset('upload/zoziox/zoziox11.jpg') }}" alt="zoziox11" id="zoziox11">
            </a>
            <a href="#" data-large-src="{{ asset('upload/zoziox/zozioxcadre12.jpg') }}">
                <img src="{{ asset('upload/zoziox/zoziox12.jpg') }}" alt="zoziox12" id="zoziox12">
            </a>
            <a href="#" data-large-src="{{ asset('upload/zoziox/zozioxcadre13.jpg') }}">
                <img src="{{ asset('upload/zoziox/zoziox13.jpg') }}" alt="zoziox13" id="zoziox13">
            </a>
            <a href="#" data-large-src="{{ asset('upload/zoziox/zozioxcadre14.jpg') }}">
                <img src="{{ asset('upload/zoziox/zoziox14.jpg') }}" alt="zoziox14" id="zoziox14">
            </a>
            <a href="#" data-large-src="{{ asset('upload/zoziox/zozioxcadre15.jpg') }}">
                <img src="{{ asset('upload/zoziox/zoziox15.jpg') }}" alt="zoziox15" id="zoziox15">
            </a>
            <a href="#" data-large-src="{{ asset('upload/zoziox/zozioxcadre16.jpg') }}">
                <img src="{{ asset('upload/zoziox/zoziox16.jpg') }}" alt="zoziox16" id="zoziox16">
            </a>
            <a href="#" data-large-src="{{ asset('upload/zoziox/zozioxcadre17.jpg') }}">
                <img src="{{ asset('upload/zoziox/zoziox17.jpg') }}" alt="zoziox17" id="zoziox17">
            </a>
            <a href="#" data-large-src="{{ asset('upload/zoziox/zozioxcadre18.jpg') }}">
                <img src="{{ asset('upload/zoziox/zoziox18.jpg') }}" alt="zoziox18" id="zoziox18">
            </a>
        </div>
        <div class="sidebar-text">
            <h2>Zoziox</h2>
            <p>Lors du premier confinement, mon envie de découverte et de voyage s’est traduite par une première série de dessins d’oiseaux en noir et blanc aux allures très différentes. Après plusieurs séries de dessins, mon imaginaire a assimilé ces oiseaux à des noms de villes du monde entier.</p>
            <p>C’est ainsi que j’ai créé le concept <span>Zoziox : un Zoziox personnalisé avec un nom de ville.</p>
            <p>Les formats encadrés sont variables (A5 à A3)</p>
            <p>Les Zoziox ont un style ludique sont parfaitement adaptés aux différentes pièces d’un intérieur ! </p>
        </div>
    </div>

<div id="lightbox-modal" class="lightbox-modal">
    <span class="close">&times;</span>
    <img class="lightbox-content" id="lightbox-image" src="">
    <a class="prev">&#10094;</a>
    <a class="next">&#10095;</a>
</div>

{% endblock %}
