{% extends "layouts/base_architecture.html.twig" %}

{% block title %}Projet Gentilly{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/pages/architecture/projects/gentilly.scss') }}">
{% endblock %}

{% block imgmobile %}
    <div class="img-mobile">
        <img src="{{ asset('upload/architecture/gentilly/gentilly1.jpg')|imagine_filter('images_architecture_picture') }}" alt="photo-2">
    </div>
{% endblock %}

{% block plans %}
    <div class="plan-container">
        <img src="{{ asset('upload/architecture/gentilly/svg/plansgentilly1-optimized.svg') }}" class="plan-image" alt="Plan del proyecto Gentilly 1">
        <p>Avant</p>
    </div>
    <div class="plan-container">
        <img src="{{ asset('upload/architecture/gentilly/svg/plansgentilly2-optimized.svg') }}" class="plan-image" alt="Plan del proyecto Gentilly 2">
        <p>Aprés</p>
    </div>
{% endblock %}


{% block project_title %}
    GENTILLY
{% endblock %}
{% block project_programme %}
    Rénovation d’un appartement
{% endblock %}
{% block project_localization %}
    Paris XIV
{% endblock %}
{% block project_surface %}
    60 m²
{% endblock %}
{% block project_budget %}
    NC
{% endblock %}
{% block project_status %}
    Livré en janvier 2023
{% endblock %}
{% block project_description %}
    Ce projet réinvente l’agencement intérieur. L’ouverture de la cuisine sur le salon permet de créer une vaste pièce à vivre baignée de lumière. Une reprise complète du réseau électrique accompagne cette transformation garantissant la mise aux normes, la sécurité et l’optimisation des points lumineux et prises de courant. La salle de bain, quant à elle, fait l’objet d’une rénovation complète, avec un meuble vasque sur-mesure. 
{% endblock %}

{% block present %}
    <img src="{{ asset('upload/architecture/gentilly/gentilly1.jpg')|imagine_filter('images_architecture_picture') }}" alt="photo-2">
    <img src="{{ asset('upload/architecture/gentilly/gentilly2.jpg')|imagine_filter('images_architecture_picture') }}" alt="photo-5">
    <img src="{{ asset('upload/architecture/gentilly/gentilly3.jpg')|imagine_filter('images_architecture_picture') }}" alt="photo-3">
{% endblock %}

{% block before %}

{% endblock %}