{% extends "layouts/base_architecture.html.twig" %}

{% block title %}Projet Sceaux{% endblock %}

{% block imgmobile %}
    <div class="img-mobile">
        <img src="{{ asset('upload/architecture/sceaux/sceaux3.jpg')|imagine_filter('images_architecture_picture') }}" alt="photo-2">
    </div>
{% endblock %}

{% block plans %}
    <div class="plan-container">
        <img src="{{ asset('upload/architecture/sceaux/svg/plansceaux1-optimized.svg') }}" alt="plan-proyect1">
        <p>Avant</p>
    </div>
    <div class="plan-container">
        <img src="{{ asset('upload/architecture/sceaux/svg/plansceaux2-optimized.svg') }}" alt="plan-proyect2">
        <p>Aprés</p>
    </div>
{% endblock %}

{% block project_title %}
    SCEAUX
{% endblock %}
{% block project_programme %}
    Rénovation d’un appartement
{% endblock %}
{% block project_localization %}
    Sceaux
{% endblock %}
{% block project_surface %}
    40 m²
{% endblock %}
{% block project_budget %}
    NC
{% endblock %}
{% block project_status %}
    Livré en juillet 2024
{% endblock %}
{% block project_description %}
    La transformation proposée s’articule autour d’une nouvelle distribution des espaces de vie, favorisant la lumière et la fluidité des circulations. La cuisine est désormais ouverte sur le salon. Cet agencement offre une vaste pièce à vivre baignée de lumière avec une vue dégagée à hauteur des arbres et permet de renforcer le lien entre l’intérieur et l’extérieur. L’ancienne porte de la cuisine est supprimée afin de créer un espace de rangement astucieux, intégré dans l’épaisseur des colonnes montantes d’eau. Cette approche optimise la fonctionnalité tout en valorisant chaque mètre carré disponible. La salle de bain, entièrement repensée, s’accompagne d’une réorganisation des sanitaires. Les toilettes sont désormais indépendantes, et directement accessibles depuis l’entrée, assurant confort et intimité.
{% endblock %}

{% block present %}
    <img src="{{ asset('upload/architecture/sceaux/sceaux1.jpg')|imagine_filter('images_architecture_picture')  }}" alt="sceaux-2">
    <img src="{{ asset('upload/architecture/sceaux/sceaux2.jpg')|imagine_filter('images_architecture_picture')  }}" alt="sceaux-5">
    <img src="{{ asset('upload/architecture/sceaux/sceaux3.jpg')|imagine_filter('images_architecture_picture')  }}" alt="sceaux-3">
    <img src="{{ asset('upload/architecture/sceaux/sceaux4.jpg')|imagine_filter('images_architecture_picture')  }}" alt="sceaux-1">
    <img src="{{ asset('upload/architecture/sceaux/sceaux5.jpg')|imagine_filter('images_architecture_picture')  }}" alt="sceaux-6">        
    <img src="{{ asset('upload/architecture/sceaux/sceaux6.jpg')|imagine_filter('images_architecture_picture')  }}" alt="sceaux-4">
{% endblock %}

{% block before %}
    <img src="{{ asset('upload/architecture/sceaux/bw1.jpg')|imagine_filter('images_architecture_picture') }}" alt="sceaux-2">
    <img src="{{ asset('upload/architecture/sceaux/bw2.jpg')|imagine_filter('images_architecture_picture') }}" alt="sceaux-5">
    <img src="{{ asset('upload/architecture/sceaux/bw3.jpg')|imagine_filter('images_architecture_picture') }}" alt="sceaux-3">
{% endblock %}