{% extends "layouts/base.html.twig" %}

{% block title %}Page Design{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ importmap('design') }}
{% endblock %}

{% block body %}
<div class="card-containerdesign">
    <!-- Tarjeta Bureaux I -->
    <div class="card-design">
        <a href="{{ path('project_bureauafppcdI') }}">
            <img src="{{ asset('upload/design/bureau1.png') }}" alt="Sarree Light">
        </a>
    </div>

    <!-- Tarjeta Bureau II -->
    <div class="card-design">
        <a href="{{ path('project_bureauafppcdII') }}">
            <img src="{{ asset('upload/design/bureau2.jpg') }}" alt="Bureaux II">
        </a>
    </div>

    <!-- Tarjeta Sarree Light -->
    <div class="card-design">
        <a href="{{ path('project_sareelight') }}">
            <img src="{{ asset('upload/design/saree.jpg') }}" alt="Sarees Light">
        </a>
    </div>
</div>

{% endblock %}
